html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  border: none;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 26px;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-style: normal;
  /* font-family: "Montserrat", sans-serif; */
  color: #FFFFFF;
  overflow-x: hidden;
  min-width: 320px;
}

input {
  border: none;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 15px;
}

.first-page {
  background-image: url(../images/bg1.png);
  background-position: top left;
  height: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first-page__text {
  margin-bottom: 3rem;
}
.first-page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7rem;
}
.first-page__input {
  padding: 18px 113px;
  max-width: 35rem;
}
.first-page__btn {
  width: 153px;
  height: 63px;
  padding: 20px 30px 16px 30px;
  background-color: #5474FD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  border: 3px solid #FFFFFF;
  color: #FFFFFF;
  font-family: "Aleo", serif;
  font-size: 14px;
  text-transform: uppercase;
}

.fa-solid {
  color: #FFFFFF;
  width: 22px;
  height: 24px;
  margin-bottom: -7px;
}