@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header {
    background-image: url(../images/bg1.png);
    background-repeat: no-repeat;
    background-position: top left;
}

.first-page_top {
    //background-image: url("../images/bg1.png");
    min-height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__text {
        margin-bottom: 3rem;
    }
    &__text-1 {
        margin-bottom: 3rem;
    }
    &__form {
        display: flex;
        margin-bottom: 7rem;
    }
    &__input {
        padding: 18px 113px;
        max-width: 35rem;
    }
    &__btn {
        width: 153px;
        height: 63px;
        padding: 20px 30px 16px 30px;
        background-color: $accent-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid $main-color;
        color: $main-color;
        font-family: "Aleo", serif;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
    }
}
.btn-search_img {
    color: $main-color;
}

.first-page_botton {
    background-color: $accent-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 19rem;
    height: 80px;
}

.nav {
    &__list {
    display: flex;
    gap: 40px;
    }
    &__items {
        text-transform: uppercase;
    }
}

.about {
    background-image: url(../images/bg2.png);
    background-repeat: no-repeat;
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6rem 10px;
        gap: 7rem;
    }
    &__content {
        max-width: 560px;
    }
    &__title {
        margin-bottom: 3rem;
    }
    &__text {
        margin-bottom: 3rem;
    }
    &__btn {
        width: 14rem;
        height: 63px;
        background-color: $accent-color;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        border: none;
        color: $main-color;
        font-family: "Aleo", serif;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
    }
    &__images {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(10, 10%);
        gap: 10px;
    }
    &__img1 {
        grid-row: 1 / span 4;
        grid-column: 1 / span 5;
    }
    &__img2 {
        grid-row: 5 / span 4;
        grid-column: 2 / span 5;
    }
}

.steps {
    background-color: #333333;
    &__inner {
        padding: 5rem 0;
    }
    &__list {
        display: flex;
        justify-content: center;
    }
    &__item {
        display: flex;
        flex-direction: column;
        padding: 1rem 3.5rem;
        justify-content: center;
        align-items: center;
    }
}
.fa-magnifying-glass, .fa-check, .fa-thumbs-up {
    width: 65px;
    height: 65px;
    display: inline-block;
    text-align: center;
}
.search-img, .fa-thumbs-up {
    color: $accent-color;
}

.fa-check {
    color: #FF6363;
}

.goods1 {
    background-image: url("../images/bg3.png");
    background-repeat: no-repeat;
    &__inner {
        padding: 14.3rem 0 6.25rem 20.6rem;
    }
    &__content {
        max-width: 34rem;
        background-color: rgba(35, 35, 35, 0.85);
        padding: 3rem 2rem;
    }
    &__country {
        margin-bottom: 1.5rem;
    }
    &__place {
        margin-bottom: 0.8rem;
    }
    &__text {
        margin-bottom: 3rem;
    }
}

.goods2 {
    background-image: url("../images/bg4.png");
    background-repeat: no-repeat;
    &__inner {
        padding: 14.3rem 20.6rem 6.25rem 56rem;
    }
    &__content {
        max-width: 34rem;
        background-color: rgba(35, 35, 35, 0.9);
        padding: 3rem 2rem;
    }
    &__country {
        margin-bottom: 1.5rem;
    }
    &__place {
        margin-bottom: 0.8rem;
    }
    &__text {
        margin-bottom: 3rem;
    }
}

.review {
    background-image: url(../images/bg5.png);
    background-repeat: no-repeat;
    &__inner {
        padding: 8rem 0 12rem 0;
    }
    &__title {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 5.8rem;
    }
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__review {
        max-width: 42rem;
        padding: 3rem 1.5rem 2.5rem 4rem;
    }
    &__author {
        margin-bottom: 0.5rem;
    }
}
.fa-quote-left {
    color: $accent-color;
}

.footer {
    background-color: #232323;
    display: flex;
    justify-content: center;
    &__inner {
        padding: 7.6rem 0 3.3rem;
    }
    &__logo-text {
        text-align: center;
        margin-bottom: 0.5rem;
    }
    &__text {
        margin-bottom: 1.25rem;
    }
    &__social-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}